* {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
  box-sizing: border-box;
  cursor: default;
  text-align: center;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 10vw;
  font-size: 20px;
  background: #002b5b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 75vh;
  position: relative;
  overflow: hidden;
  padding: 1vw;
  background-color: rgba(249, 245, 235, 0.8);
}
.container.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container.right {
  color: #f9f5eb;
  background-color: rgba(249, 245, 235, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn:hover {
  transform: translateY(-3px);
}

#info {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #e4dccf;
  cursor: pointer;
}
#info:hover {
  color: #f9f5eb;
}

#rule {
  display: none;
  width: 50%;
  position: absolute;
  z-index: 100;
  padding: 1vw;
  font-size: 18px;
  background: rgba(249, 245, 235, 0.9);
  border-radius: 10px;
  animation: popup 0.5s ease-out;
}

#desc {
  margin-bottom: 1rem;
}
#desc p {
  margin-bottom: 1rem;
  text-align: left;
}
#desc p:nth-child(3) {
  margin-bottom: 3rem;
}
#desc p:nth-child(4) {
  font-weight: 600;
  color: #002b5b;
  text-align: center;
}

#closeBtn {
  display: inline-block;
  padding: 5px;
  color: #f9f5eb;
  background: #ea5455;
  border-radius: 3px;
}

#start {
  display: flex;
}

#startBtn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 30px;
  color: #111;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  background-color: #e4dccf;
  border-radius: 3px;
  animation: gradient 15s ease infinite;
}

#quiz {
  display: none;
}

#lose {
  display: none;
  position: absolute;
  top: 8rem;
  font-size: 2em;
}

#restartBtn {
  display: none;
  position: absolute;
  bottom: 8rem;
  padding: 5px;
  background: #ea5455;
  border-radius: 3px;
}

#backdrop {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
}

#timer {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

#inputBox {
  width: 100%;
  margin-bottom: 1rem;
}
#inputBox input {
  width: 100%;
  font-size: 20px;
  cursor: text;
}
#inputBox input:disabled {
  cursor: default;
}

#titleBox {
  display: none;
  color: #555;
}

#title {
  font-size: 22px;
  font-weight: 500;
  color: #002b5b;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes popup {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
